<div id="welcomeContainer" style="display: none;">
    <div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">WELCOME TO NitroLauncher</span>
        <span id="welcomeDescription">Bienvenue sur NitroLauncher, le serveur officiel de NitroFight, une expérience de survie palpitante dans l'univers de Minecraft ! Sur ce serveur, tu seras plongé dans un monde dynamique où les joueurs peuvent se réunir, coopérer et s'affronter pour atteindre leurs objectifs de survie.

            NitroLauncher est un serveur qui se distingue par son personnel dévoué et son équipe compétente. Nos membres du staff sont constamment présents et prêts à t'aider en cas de besoin. Que ce soit pour résoudre des problèmes techniques, répondre à tes questions ou t'assister dans tes aventures, ils seront là pour t'offrir une expérience de jeu agréable et fluide.
            
            Le serveur NitroFight se concentre principalement sur le mode de jeu survie de Minecraft. Tu pourras t'immerger dans un environnement hostile, où la collecte de ressources, la construction de structures et la lutte contre les ennemis seront au cœur de tes préoccupations. Tu auras l'occasion de te mettre au défi en explorant des donjons, en affrontant des créatures redoutables et en interagissant avec une communauté de joueurs passionnés.
            
            Grâce à NitroLauncher, tu auras accès à une variété de fonctionnalités uniques. Des mécanismes de gameplay personnalisés, des événements réguliers et des quêtes spéciales sont prévus pour te garantir une expérience de survie immersive et captivante. De plus, la communauté active de NitroFight t'offrira l'opportunité de créer des alliances, de faire du commerce avec d'autres joueurs et de participer à des projets collectifs.
            
            Rejoins-nous sur NitroLauncher et découvre un monde Minecraft Survie plein d'aventures passionnantes et de défis stimulants. Que tu sois un joueur chevronné ou un novice, tu trouveras un environnement convivial et accueillant qui te permettra de développer tes compétences et de t'amuser avec d'autres passionnés de Minecraft.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from NitroFight.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>